body {
  background-color: $backgroundColor;
  margin: 3rem;
  div {
    h1 {
      color: $fontMainColor;
      font-weight: 600;
    }
    .vg-card {
      background-color: $cardColor;
      box-shadow: 0 1px 4px  rgba(0, 0, 0, 0.2);
      padding: 4rem;
      width: 20rem;
      h2 {
        color: $fontSecondColor;
        font-weight: 600;
      }
      .vg-actions {
        text-align: right;
      }
    }
  }
}
